<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="url_rewrite_save_after">
        <observer name="url_rewrite_index_save_after_observer" instance="Smart\ElasticSearch\Observer\UrlRewriteAfterSaveObserver"/>
    </event>
</config>
